{% extends 'SidusEAVDemoBundle:Data:index.html.twig' %}

{% block middle_content %}
    {% form_theme form 'SidusEAVDemoBundle:Data:form_theme.html.twig' %}
    {{ form_start(form) }}
        {{ form_widget(form.filters) }}
        <div class="btn-group pull-right">
            <a href="{{ path('sidus_eavdemo.data.list', {familyCode: family.code}) }}" class="btn btn-default"><i class="fa fa-times"></i> Reset</a>
            <button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i> Filter</button>
        </div>
        {{ pagerfanta(pager, 'twitter_bootstrap3') }}
        <table class="table table-striped">
            <caption>{{ pager.count }} results</caption>
            <thead>
                <tr>
                    <th>#{{ form_widget(form.sortable.id) }}</th>
                    <th>Family{{ form_widget(form.sortable.familyCode) }}</th>
                    <th>{{ family.attributeAsLabel }}{{ form_widget(form.sortable[family.attributeAsLabel.code]) }}</th>
                    <th>Created{{ form_widget(form.sortable.createdAt) }}</th>
                    <th>Updated{{ form_widget(form.sortable.updatedAt) }}</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.family }}</td>
                        <td>{{ data }}</td>
                        <td>{{ data.createdAt | date() }}</td>
                        <td>{{ data.updatedAt ? data.updatedAt | date() }}</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a href="{{ path('sidus_eavdemo.data.edit', {familyCode: family.code, id: data.id}) }}" class="btn btn-primary">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="{{ path('sidus_eavdemo.data.edit', {familyCode: family.code, id: data.id}) }}" class="btn btn-danger">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagerfanta(pager, 'twitter_bootstrap3') }}
    {{ form_end(form) }}
    <div class="btn-group clear">
        <a href="{{ path('sidus_eavdemo.data.create', {familyCode: family.code}) }}" class="btn btn-primary"><i class="fa fa-plus"></i> Create</a>
    </div>
{% endblock %}
