<!DOCTYPE html>{% import "@SidusEAVDemo/Macros/utilities.html.twig" as utilities %}
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="{{ _charset }}">
    <title>{% block title %}Sidus{{ title is defined ? ' - ' ~ title }}{% endblock %}</title>
    {% block metas %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="sidus">
        <meta name="author" content="Vincent Chalnot">
    {% endblock %}
    {% block stylesheets %}
        {% stylesheets  'bundles/siduseavdemo/css/sidus.css'
                filter='?uglifycss' filter='cssrewrite' %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
<div class="container">
    {% block main_container %}
        {% block main_menu %}

        {% endblock %}
        <div class="container-fluid">
            {{ utilities.flash_messages() }}
            {% block main_content %}{% endblock %}
        </div>
    {% endblock %}
</div>

{% block javascripts %}
    {% javascripts
            'assets/jquery/jquery.min.js'
            'assets/jquery-ui/ui/minified/core.min.js'
            'assets/jquery-ui/ui/minified/widget.min.js'
            'assets/jquery-ui/ui/minified/mouse.min.js'
            'assets/jquery-ui/ui/minified/sortable.min.js'
            '@MopaBootstrapBundle/Resources/public/bootstrap-sass/assets/javascripts/bootstrap.js'
            '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
            '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
            '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js'
            '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js'
            filter='?uglifyjs2'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
