<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    {% import "@SidusEAVDemo/Macros/utilities.html.twig" as utilities %}
    <meta charset="{{ _charset }}">
    <title>{% block title %}Sidus{{ title is defined ? ' - ' ~ title }}{% endblock %}</title>
    {% block metas %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="sidus">
        <meta name="author" content="Vincent Chalnot">
    {% endblock %}
    {% block stylesheets %}
        {% stylesheets  'bundles/siduseavdemo/css/sidus.css'
                        'bundles/pinanoselect2/css/select2.css'
                        'bundles/pinanoselect2/css/select2-bootstrap.css'
                        'bundles/samsonautocomplete/css/autocomplete.css'
                filter='?uglifycss' filter='cssrewrite' %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
{% block main_menu %}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('sidus_eavdemo.dashboard') }}">Sidus</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {{ utilities.menu_link('Entités', 'sidus_eavdemo.data.index') }}

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block main_container %}
    <div class="container-fluid">
        {{ utilities.flash_messages() }}
        {% block main_content %}
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4">
                    {% block left_menu %}{% endblock %}
                </div>
                <div class="col-lg-10 col-md-9 col-sm-8">
                    {% block middle_content %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <p class="text-muted">Sidus by <a href="https://twitter.com/VincentChalnot">@VincentChalnot</a></p>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {% javascripts
            'assets/jquery/jquery.min.js'
            'assets/jquery-ui/ui/minified/core.min.js'
            'assets/jquery-ui/ui/minified/widget.min.js'
            'assets/jquery-ui/ui/minified/mouse.min.js'
            'assets/jquery-ui/ui/minified/sortable.min.js'
            '@MopaBootstrapBundle/Resources/public/bootstrap-sass/assets/javascripts/bootstrap.js'
            '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
            '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js'
            '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js'
            '@SidusEAVModelBundle/Resources/public/js/bootstrap.collection.js'
            '@PinanoSelect2Bundle/Resources/public/js/select2.min.js'
            '@PinanoSelect2Bundle/Resources/public/js/select2_locale_fr.js'
            '@SamsonAutocompleteBundle/Resources/public/js/autocomplete.js'
            filter='?uglifyjs2'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        RegExp.escape= function(s) {
            return s.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
        };
        $(document).ready(function() {
            /* Initialize bootstrap collection sortable */
            $('.bootstrap-collection').sortable({
                update: function () {
                    var pattern = $(this).data('input-pattern');
                    var regex = new RegExp(RegExp.escape(pattern).replace('__name__', '\\d+'));
                    $(this).find(':input').each(function (idx) {
                        var newName = $(this).attr('name').replace(regex, pattern.replace('__name__', idx));
                        $(this).attr('name', newName);
                    });
                }
            });

            $(".select2").samsonSelect2();
        });
    </script>
{% endblock %}
</body>
</html>
